@charset "UTF-8";
@font-face {
  font-family: Eraser;
  src: url("../font/Eraser.eot");
  src: url("../font/Eraser.eot?#iefix") format("embedded-opentype"), url("../font/Eraser.woff2") format("woff2"), url("../font/Eraser.woff") format("woff"), url("../font/Eraser.ttf") format("truetype");
}
@font-face {
  font-family: "Uefa";
  src: url(../font/uefa-nations-2.ttf);
}
:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-green: rgba(0, 62, 0, 1);
  --color-grey: rgba(153, 153, 153, 1);
  --color-black: rgb(19, 23, 24);
  --color-yelow: rgb(246, 206, 65);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: var(--color-black);
  border: none;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

button, input {
  border: none;
  outline: none;
  background: transparent;
}

h1,
h2 {
  font-family: "Eraser";
}

h3,
p {
  font-family: "Uefa";
}

main {
  position: relative;
}

.header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--color-yelow);
  z-index: 99;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 65px;
}
.header-logo {
  margin-top: 60px;
  width: 120px;
  height: 120px;
}
.header-logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-list-item {
  font-family: "uefa";
  font-size: 18px;
  font-weight: 600;
  line-height: 22.5px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-left: 23px;
  overflow: hidden;
}

.logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logotype-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logotype-address p {
  margin-bottom: 0;
}

.screen {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-image: url(../img/4.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  padding-bottom: 76px;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.first-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
}
.first-screen-content {
  width: 100%;
  height: 100%;
  padding-top: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.first-screen-container {
  width: 100%;
  height: 100%;
}
.first-screen-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}
.first-screen-left-card {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}
.first-screen-left-card:nth-child(2) {
  margin-left: 10%;
}
.first-screen-left-card:last-child {
  margin-left: 15%;
}
.first-screen-left-card > .left {
  width: 28px;
  min-height: 100%;
  background: var(--color-yelow);
}
.first-screen-left-card > .right {
  height: 100%;
  min-height: 100px;
  padding: 35px 43px 35px 43px;
  background: rgba(153, 153, 153, 0.9);
  color: var(--color-white);
}
.first-screen-left-card > .right > h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.02em;
  text-align: left;
}
.first-screen-left-card > .right > p {
  font-size: 18px;
  font-weight: 500;
  line-height: 32.4px;
  letter-spacing: 0.02em;
  text-align: left;
}
.first-screen-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}
.first-screen-right-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: center;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  color: var(--color-white);
}
.first-screen-right-title h2 {
  font-size: 55px;
  font-weight: 700;
  line-height: 71.5px;
  letter-spacing: -0.015em;
}
.first-screen-right-title h1 {
  font-size: 90px;
  font-weight: 700;
  line-height: 80.5px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.mobil-visible {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 99;
}

.logotype-mobil {
  display: none;
  margin-bottom: 100px;
}

.burger {
  position: relative;
  width: 60px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.burger > .toggle {
  width: 100%;
  background: var(--color-green);
  position: absolute;
  border-radius: 6px;
}

.toggle-first {
  top: 0;
  left: 0;
  height: 8px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.toggle-center {
  top: calc(50% - 4px);
  left: 0;
  height: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toggle-last {
  bottom: 0;
  left: 0;
  height: 8px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.opacity-center {
  top: 50%;
  height: 0;
  opacity: 0;
}

.opacity-top {
  top: calc(50% - 4px);
}

.opacity-bottom {
  bottom: calc(50% - 4px);
}

.rotate-top {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.rotate-bottom {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.body-nav {
  width: 0;
  z-index: 98;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background: var(--color-yelow);
  position: fixed;
  top: 0;
  right: -150px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 120px;
  padding-right: 40px;
}
.body-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-nav-menu-list {
  margin-top: 35px;
}

.body-title-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.body-title-logo img {
  width: 33px;
  height: 33px;
  -webkit-filter: grayscale(100%) invert(100%) contrast(400%);
          filter: grayscale(100%) invert(100%) contrast(400%);
}
.body-title-logo p {
  font-family: "Uefa";
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
  text-align: left;
  padding-top: 20px;
}

.block {
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  padding: 5px 10px;
}

.block::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: var(--color-grey);
  -webkit-transform: translateX(110%);
      -ms-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.block:hover::before {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.block::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0;
  height: 2px;
  background: var(--color-grey);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.block:hover::after {
  width: 100%;
}

.about {
  padding-top: 76px;
  padding-bottom: 76px;
  width: 100%;
  height: auto;
}
.about-container {
  width: 100%;
  height: auto;
}
.about-content {
  width: 100%;
  min-height: 748px;
  -webkit-box-shadow: 0px 21px 66px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 21px 66px 0px rgba(0, 0, 0, 0.17);
  border: 20px solid var(--color-white);
  background: var(--color-green);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.about-content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--color-white);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 50%;
  min-height: 748px;
  height: 100%;
}
.about-content-text > .about-btn {
  margin-bottom: 36px;
  margin-left: 36px;
  margin-right: 36px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 45px;
  font-weight: 900;
}
.about-content-text > .about-btn i {
  color: var(--color-white);
}
.about-content-text h4 {
  font-family: "Uefa";
  font-size: 15px;
  font-weight: 600;
  line-height: 23.17px;
  letter-spacing: 0.1em;
  text-align: left;
  padding-bottom: 23px;
}
.about-content-text h5 {
  font-family: "Eraser";
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px;
  letter-spacing: -0.01em;
  text-align: left;
}
.about-content-text p {
  font-family: "Uefa";
  font-size: 18px;
  font-weight: 400;
  line-height: 31.5px;
  text-align: left;
  padding-top: 32px;
}
.about-content-content {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-img {
  width: 262px;
  height: 371px;
  border: 10px solid var(--color-white);
  border-radius: 25px;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
  position: absolute;
  top: 20%;
  -webkit-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
          transform: translateY(-20%);
  left: 20%;
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.about-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  -webkit-box-shadow: 0px 21px 66px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 21px 66px 0px rgba(0, 0, 0, 0.17);
}

.about-card {
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
          transform: translateY(-30%);
  left: 50px;
  max-width: 543px;
  background: transparent;
  display: none; /* Скрываем все текстовые блоки по умолчанию */
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.about-card.active {
  display: block;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.about-img.first {
  display: block;
  -webkit-transform: translateX(0) rotate(0);
      -ms-transform: translateX(0) rotate(0);
          transform: translateX(0) rotate(0); /* Стиль для первого изображения */
  z-index: 3; /* Приоритет отображения */
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.about-img.second {
  display: block;
  -webkit-transform: translateX(25px) rotate(15deg);
      -ms-transform: translateX(25px) rotate(15deg);
          transform: translateX(25px) rotate(15deg); /* Стиль для второго изображения */
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.about-img.third {
  display: block;
  -webkit-transform: translateX(65px) rotate(25deg);
      -ms-transform: translateX(65px) rotate(25deg);
          transform: translateX(65px) rotate(25deg); /* Стиль для третьего изображения */
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.about-img-active {
  display: block;
}

.review {
  width: 100%;
  padding-top: 76px;
  padding-bottom: 76px;
  background: rgb(235, 243, 245);
  -webkit-box-shadow: 0px 37px 60px 0px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 37px 60px 0px rgba(0, 0, 0, 0.02);
}
.review-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.review-title {
  font-family: "Eraser";
  font-size: 45px;
  font-weight: 500;
  line-height: 58.5px;
  letter-spacing: -0.01em;
  text-align: center;
}
.review-subtitle {
  max-width: 563px;
  font-family: "Uefa";
  font-size: 15px;
  font-weight: 600;
  line-height: 23.17px;
  letter-spacing: 0.1em;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.review-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.review-card {
  width: 582px;
  margin-left: 23px;
  margin-right: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.review-card-text {
  padding: 44px 44px 44px 49px;
  background: var(--color-yelow);
  font-family: "Uefa";
  font-size: 19px;
  font-weight: 400;
  line-height: 34.2px;
  text-align: left;
}
.review-card-footer {
  background: var(--color-green);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 51px 26px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.review-card-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.review-card-user-foto {
  width: 70px;
  height: 70px;
  border: 2px solid rgb(255, 255, 255);
}
.review-card-user-foto > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review-card-user-name {
  color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.review-card-user-name > p {
  font-size: 14px;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 0;
}
.review-card-user-name > p > span {
  font-family: "Eraser";
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: left;
}
.review-card-decor {
  width: 70px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.review-card-decor-left {
  width: 30px;
  height: 100%;
  background: var(--color-white);
  position: relative;
}
.review-card-decor-left::before {
  content: "";
  height: 50%;
  width: 100%;
  border-bottom: 32px solid var(--color-green);
  border-left: 30px solid transparent;
  position: absolute;
  bottom: -1px;
  right: -1px;
}
.review-btn {
  height: 369px;
  font-size: 30px;
  color: var(--color-green);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-left: 5px;
  padding-right: 5px;
}
.review-btn:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}
.review-modal {
  margin-top: 36px;
}

.reviews {
  width: 100%;
  padding-top: 76px;
  padding-bottom: 76px;
}
.reviews-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews-container h4 {
  font-family: "Uefa";
  font-size: 15px;
  font-weight: 600;
  line-height: 23.17px;
  letter-spacing: 0.1em;
  text-align: center;
}
.reviews-container h5 {
  font-family: "Eraser";
  font-size: 45px;
  font-weight: 500;
  line-height: 58.5px;
  letter-spacing: -0.01em;
  text-align: center;
}

.trainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 76px;
  padding-bottom: 76px;
}
.trainer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 36px;
}
.trainer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 76px;
}
.trainer-content-card {
  margin-top: 36px;
  margin-bottom: 36px;
  width: 100%;
  height: 430px;
  background-color: var(--color-green);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.trainer-content-card-img {
  width: 233px;
  height: 336px;
  border: 10px solid var(--color-white);
  border-radius: 25px;
  -webkit-box-shadow: 0px 21px 66px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 21px 66px 0px rgba(0, 0, 0, 0.17);
  position: relative;
}
.trainer-content-card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.trainer-content-card-img > .logotype {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: -50px;
  right: -75px;
  -webkit-filter: contrast(150%);
          filter: contrast(150%);
}
.trainer-content-card-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: var(--color-white);
}
.trainer-content-card-text > h5 {
  font-family: "Eraser";
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: center;
  margin-bottom: 23px;
}
.trainer-content-card-text > .ball {
  width: 100px;
  height: 100px;
  margin-bottom: 36px;
  margin-top: 36px;
}
.trainer-content-card-text > h6 {
  font-family: "Uefa";
  font-size: 15px;
  font-weight: 600;
  line-height: 23.17px;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--color-yelow);
  padding-bottom: 36px;
}
.trainer-content-card-text > p {
  font-family: "Uefa";
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
}

.schedule {
  width: 100%;
  padding-top: 76px;
  padding-bottom: 76px;
}
.schedule-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.schedule-content {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.schedule-content-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}
.schedule-content-card > .left {
  width: 100px;
  height: auto;
}
.schedule-content-card > .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.schedule-content-card > .right {
  width: 250px;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--color-yelow);
}
.schedule-content-card > .right > h6 {
  padding-top: 23px;
  color: var(--color-green);
  font-family: "Eraser";
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  text-align: center;
}
.schedule-content-card > .right > .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 12px;
  border-bottom: 2px solid var(--color-green);
}
.schedule-content-card > .right > .time p {
  padding-right: 12px;
  font-family: "Uefa";
  font-size: 18px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.03em;
  text-align: left;
}
.schedule-content-card > .right > .time p > span {
  font-family: "Uefa";
  font-size: 18px;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: 0.03em;
  text-align: left;
}

.blog {
  width: 100%;
  padding-top: 76px;
  padding-bottom: 76px;
  background: rgb(235, 243, 245);
  -webkit-box-shadow: 0px 37px 60px 0px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 37px 60px 0px rgba(0, 0, 0, 0.02);
}
.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 76px;
  padding-bottom: 76px;
}
.blog-content-card {
  cursor: pointer;
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
}
.blog-content-card-img {
  width: 100%;
  height: 325px;
}
.blog-content-card-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-content-card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 27px 30px 26px;
  background: rgb(237, 245, 247);
}
.blog-content-card-text > .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}
.blog-content-card-text > .date > .line {
  width: 20px;
  height: 2px;
  background: rgb(39, 45, 50);
}
.blog-content-card-text > .date > p {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 16.25px;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--color-black);
  font-family: "Uefa";
}
.blog-content-card-text > .date > p:last-child {
  text-align: right;
}
.blog-content-card-text > h6 {
  padding-bottom: 22px;
  padding-top: 22px;
  color: var(--color-black);
  font-family: "Eraser";
}
.blog-content-card-text > p {
  font-family: "Uefa";
  font-size: 18px;
  font-weight: 400;
  line-height: 27.9px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-black);
}

.footer {
  padding-top: 76px;
  background: var(--color-green);
}
.footer-logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 76px;
  border-bottom: 1px solid var(--color-yelow);
}
.footer-logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-logo-link img {
  width: 40px;
  height: 40px;
  -webkit-filter: contrast(150%);
          filter: contrast(150%);
}
.footer-logo-link h6 {
  margin: 0;
  padding-left: 23px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-yelow);
  font-family: "Eraser";
}
.footer-icons {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-icons > a {
  width: 55px;
  height: 55px;
  border: 2px solid var(--color-yelow);
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-yelow);
  font-size: 22px;
  font-family: "Uefa";
}
.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 76px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer-body-explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer-body-explorer ul {
  padding-left: 0;
}
.footer-body-explorer p {
  font-family: "Eraser";
  color: var(--color-yelow);
}
.footer-body-explorer a {
  color: var(--color-yelow);
  font-size: 17px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.01em;
  text-align: left;
  font-family: "Uefa";
}
.footer-address {
  width: 325px;
}
.footer-address h6, .footer-address p, .footer-address span, .footer-address a {
  color: var(--color-yelow);
  padding-bottom: 22px;
}
.footer-address h6 {
  margin: 0;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-yelow);
  font-family: "Eraser";
}
.footer-address p, .footer-address a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  letter-spacing: -0.01em;
  text-align: left;
  padding-bottom: 22px;
  font-family: "Uefa";
}
.footer-address p > span, .footer-address a > span {
  font-weight: 700;
  padding-bottom: 22px;
  padding-right: 22px;
}
.footer-working {
  width: 176px;
}
.footer-working h6, .footer-working p, .footer-working span, .footer-working a {
  color: var(--color-yelow);
  padding-bottom: 22px;
}
.footer-working h6 {
  font-weight: 400;
}
.footer-working p, .footer-working a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  letter-spacing: -0.01em;
  text-align: left;
  padding-bottom: 22px;
  font-family: "Uefa";
}
.footer-working p > span, .footer-working a > span {
  font-weight: 700;
  padding-bottom: 22px;
  padding-right: 22px;
}

.copyright {
  background: var(--color-green);
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Eraser";
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-yelow);
}

.scroll-to-top {
  width: 55px;
  height: 55px;
  border: 2px solid var(--color-yelow);
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-yelow);
  font-size: 23px;
}

.custom-btn {
  position: relative;
  margin-top: 58px;
  font-family: "Uefa";
  font-size: 14px;
  font-weight: 800;
  line-height: 17.5px;
  letter-spacing: 0.12em;
  text-align: center;
  width: 50%;
  text-transform: uppercase;
  padding: 18px 43px 19px 43px;
  border: 2px solid var(--color-green);
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.item-animation-objects {
  opacity: 0;
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.item-animation-objects-express {
  opacity: 0;
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cycle-objects-card {
  opacity: 0;
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
  -webkit-transform: translateZ(-40px);
          transform: translateZ(-40px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cycle-objects-subtitle {
  opacity: 0;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cycle-objects-title {
  opacity: 0;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cycle-objects-img {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fade-element {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

@media (max-width: 1200px) {
  .header {
    height: 95px;
  }
  .header-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-list:last-child {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header-logo {
    margin-top: 100px;
    width: 150px;
    height: 150px;
  }
  .logotype-address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first-screen-container > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 768px) {
  .header {
    background: transparent;
  }
  .header-container {
    display: none;
  }
  .mobil-visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .first-screen-left-card:nth-child(2) {
    margin-left: 0;
  }
  .first-screen-left-card:last-child {
    margin-left: 0;
  }
  .logotype {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  .about-content {
    min-height: 1500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-content-text {
    width: 90%;
  }
  .about-content-content {
    width: 90%;
  }
}
@media (max-width: 460px) {
  .first-screen-right-title h2 {
    font-size: 35px;
  }
  .first-screen-right-title h1 {
    font-size: 65px;
  }
  .first-screen-left-card {
    width: 100%;
  }
  .about-content {
    min-height: 1500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-content-text {
    width: 90%;
  }
  .about-content-content {
    width: 90%;
  }
  .about-content-content > .about-img {
    width: 210px;
    height: 297px;
    left: 10%;
  }
  .about-content-content > .about-img:nth-child(2) {
    top: 12%;
    left: 25%;
    -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  .about-content-content > .about-img:last-child {
    top: 8%;
    left: 15%;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }
  .review-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .review-card {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
  .review-card-footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .review-btn {
    height: 40px;
    width: 100%;
  }
}